body{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
    font-family: cursive;
}

.ML{
    font-weight: 900;
    font-family: cursive;
}

.LD{
    font-weight: 400;
    font-family: cursive;
}
.cardC{
    align-self: left;
    display: flex;
    flex-direction: row;
    border: 1px dotted saddlebrown;
    border-radius: 15px;
    width: 300px;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Table Code Start */
table{
    font-size: 20px;
    border: 2px solid royalblue;
    border-radius: 12px;
}
th{
    border: 2px solid seagreen;
    border-radius: 5px 5px 5px 5px;
}
.thl{
    border: 2px solid seagreen;
    border-radius: 10px 5px 5px 5px;
}
.thr{
    border: 2px solid seagreen;
    border-radius: 5px 10px 5px 5px;
}
td{
    border: 2px solid seagreen;
    border-radius: 5px 5px 5px 5px;
}
.tdr{
    border: 2px solid seagreen;
    border-radius: 5px 5px 10px 5px;
}
.tdl{
    border: 2px solid seagreen;
    border-radius: 5px 5px 5px 10px;
}
/* Table Code End */
